<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="D2ModKit.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="D2Modkit.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <D2ModKit.Properties.Settings>
      <setting name="UGCPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrAddon" serializeAs="String">
        <value />
      </setting>
      <setting name="S2DotaExtractPath" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="S1DotaExtractPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AddonData" serializeAs="String">
        <value />
      </setting>
      <setting name="GenNote0Lore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
    </D2ModKit.Properties.Settings>
    <D2Modkit.Properties.Settings>
      <setting name="UGCPath" serializeAs="String">
        <value />
      </setting>
    </D2Modkit.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>