<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dota2ModKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Dota2ModKit.Properties.Settings>
            <setting name="LastAddon" serializeAs="String">
                <value />
            </setting>
            <setting name="DotaDir" serializeAs="String">
                <value />
            </setting>
            <setting name="AddonNameToWorkshopID" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsKV" serializeAs="String">
                <value />
            </setting>
            <setting name="AddonsKV" serializeAs="String">
                <value />
            </setting>
        </Dota2ModKit.Properties.Settings>
    </userSettings>
</configuration>
